/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/base.css);


/* New style-related Base Values
----------------------------------------------------------------------------------------------------*/

body { font: normal 14px/20px Arial, Helvetica, sans-serif; }

mark, ins { color: #333333; }

hr { border-top-color: #EBEBEB; }

pre { 
	background: #F5F5F5;
	border-radius: 6px; 
}

#section-kmt {
    display: inline-block;
    width: 100%;
    margin: 15px 0 0;
}
#section-kmt .kmt-form {
    margin: 0 0 30px;
}
#section-kmt .clearfix {
    display: block;
    zoom: 1;
    overflow: visible;
    clear: none;
}
#section-kmt h3.kmt-title {
    background: #333;
    margin: 0 0 20px;
    padding: 0 10px;
    height: 33px;
    line-height: 33px;
    color: #ccc;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
div.easy_frame div.easy_title, #easyfooter{
    display:none;
}
#section-kmt ul.kmt-form-author {
    margin: 0 -14px 15px 0;
}
#section-kmt .reset-ul, #section-kmt .reset-ul li, #section-kmt .reset-child, #section-kmt .reset-child > li {
    background: none;
    border: none;
    clear: none;
    float: none;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: auto;
}
#section-kmt ul.kmt-form-author li.col {
    width: 33%;
}
#section-kmt .float-li > li, #section-kmt .float-wrapper > span {
    float: left;
    display: inline-block;
    position: relative;
}
#section-kmt ul.kmt-form-author li > label {
    font-size: 11px;
    display: inline-block;
    line-height: 15px;
    margin: 0 0 10px;
}
#section-kmt ul.kmt-form-author li > div {
    margin: 0 20px 0 0;
}
#section-kmt ul.kmt-form-author li .input.text {
    width: 100%;
}
#section-kmt .input.text, #section-kmt .input.password {
    font-family: Tahoma,Arial,sans-serif;
    font-size: 11px;
    color: #777;
    padding: 4px;
    height: 29px;
    line-height: normal;
}
#section-kmt .input {
    background: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#section-kmt .kmt-form-editor > div {
    padding: 0 20px 0 0;
}
#section-kmt .kmt-form-editor > div > div {
    margin: 0 -20px 0 0;
}
#section-kmt .markItUp {
    width: 100%;
}
#section-kmt .markItUpContainer {
    background: #f5f5f5;
    border: 1px solid #bbb;
    display: block;
    font: 11px 'Lucida Grande',Tahoma,Verdana,Arial,Helvetica,sans-serif;
    overflow: hidden;
}
#section-kmt .markItUp * {
    margin: 0;
    outline: none;
    padding: 0;
    list-style: none;
}
#section-kmt .markItUpHeader ul {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 5px 0 5px 5px;
}
#section-kmt .markItUpHeader ul, #section-kmt .markItUpHeader ul li {
    background: none;
    border: none;
    clear: none;
    float: none;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: auto;
}
#section-kmt .markItUpHeader ul li {
    float: left;
    position: relative;
    line-height: normal!important;
    margin: 0 2px 0 0;
}
#section-kmt .markItUpEditor {
    background: #fff!important;
    color: #222;
    resize: none;
    font: 12px 'Lucida Grande',Tahoma,Verdana,Arial,Helvetica,sans-serif;
    height: 90px;
    line-height: 20px;
    overflow: auto;
    padding: 5px;
    width: 100%;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#section-kmt .markItUpFooter {
    width: 100%;
    height: 15px;
}
#section-kmt .markItUpResizeHandle {
    background: url(../images/markitup/handle.png) center no-repeat;
    cursor: n-resize;
    height: 15px;
    margin: 0 auto;
    overflow: hidden;
    width: 22px;
}
#section-kmt .markItUp .kmt-markitup-bold a {
    background-image: url(../images/markitup/bold.png)!important;
}
#section-kmt .markItUp .kmt-markitup-italic a {
    background-image: url(../images/markitup/italic.png)!important;
}
#section-kmt .markItUp .kmt-markitup-underline a {
    background-image: url(../images/markitup/underline.png)!important;
}
#section-kmt .markItUp .kmt-markitup-link a {
    background-image: url(../images/markitup/link.png)!important;
}
#section-kmt .markItUp .kmt-markitup-picture a {
    background-image: url(../images/markitup/picture.png)!important;
}
#section-kmt .markItUp .kmt-markitup-video a {
    background-image: url(../images/markitup/video.png)!important;
}
#section-kmt .markItUp .kmt-markitup-bullet a {
    background-image: url(../images/markitup/list-bullet.png)!important;
}
#section-kmt .markItUp .kmt-markitup-numeric a {
    background-image: url(../images/markitup/list-numeric.png)!important;
}
#section-kmt .markItUp .kmt-markitup-list a {
    background-image: url(../images/markitup/list-item.png)!important;
}
#section-kmt .markItUp .kmt-markitup-quote a {
    background-image: url(../images/markitup/quotes.png)!important;
}
#section-kmt .markItUp .kmt-markitup-code a {
    background-image: url(../images/markitup/code.png)!important;
}
#section-kmt .markItUp .kmt-markitup-clean a {
    background-image: url(../images/markitup/clean.png)!important;
}
#section-kmt .markItUp .kmt-markitup-smile a {
    background-image: url(../images/markitup/emoticon-smile.png)!important;
}
#section-kmt .markItUp .kmt-markitup-happy a {
    background-image: url(../images/markitup/emoticon-happy.png)!important;
}
#section-kmt .markItUp .kmt-markitup-surprised a {
    background-image: url(../images/markitup/emoticon-surprised.png)!important;
}
#section-kmt .markItUp .kmt-markitup-tongue a {
    background-image: url(../images/markitup/emoticon-tongue.png)!important;
}
#section-kmt .markItUp .kmt-markitup-unhappy a {
    background-image: url(../images/markitup/emoticon-unhappy.png)!important;
}
#section-kmt .markItUp .kmt-markitup-wink a {
    background-image: url(../images/markitup/emoticon-wink.png)!important;
}

#section-kmt .markItUpHeader ul .markItUpSeparator {
    display: none!important;
}

#section-kmt .markItUp a:link, .markItUp a:visited {
    color: #000;
    text-decoration: none;
}
#section-kmt .markItUpHeader ul li a {
    padding: 4px;
}
#section-kmt .markItUpHeader ul a {
    background: none no-repeat center center;
    border: solid 0px #ccc;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 3px;
}
#section-kmt .kmt-form-content a, #section-kmt .kmt-form-content label {
    font-size: 11px;
    display: inline-block;
}
#section-kmt .kmt-form-content .kmt-form-addon {
    background: #fff;
    border: 1px solid #bbb;
    border-top: 0;
    padding: 10px 0;
}
#section-kmt .kmt-form-content .kmt-form-addon > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}
#section-kmt .kmt-form-length > b {
    font: 100 11px/27px 'Lucida Grande', Tahoma, Arial, sans-serif;
    height: 27px;
    display: inline-block;
    padding: 0 10px 0 34px;
    background: url(../images/word.count.png) 8px center no-repeat #f5f5f5;
    border: 1px solid #bbb;
    color: #777;
    line-height: 1;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#section-kmt .kmt-form-length > b span {
    font: 100 11px/27px 'Lucida Grande', Tahoma, Arial, sans-serif;
    height: 29px;
    display: inline-block;
}
#section-kmt .input.kmt-location {
    width: 256px;
    padding-left: 24px!important;
    background-image: url(../images/location.pin.png);
    background-position: 8px center;
    background-repeat: no-repeat;
}
#section-kmt .input.button {
    background: #fff;
    border: 1px solid #aaa;
    border-bottom-color: #999;
    color: #555!important;
    cursor: pointer;
    font-family: 'Lucida Grande',Tahoma,Arial,sans-serif!important;
    font-size: 11px!important;
    float: none!important;
    height: auto!important;
    line-height: 25px!important;
    padding: 0 4px!important;
    margin: 0!important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}
#section-kmt .kmt-form-submit {
    margin: 15px 0 0;
}
#section-kmt .kmt-btn-submit.disabled {
    background: #eee!important;
    color: #999!important;
    text-shadow: 0 1px 0 #fff!important;
    border: 1px solid #ccc!important;
    box-shadow: 0 1px 0 #fff inset!important;
    -moz-box-shadow: 0 1px 0 #fff inset!important;
    -webkit-box-shadow: 0 1px 0 #fff inset!important;
}
#section-kmt .kmt-btn-submit {
    font-family: Arial!important;
    font-size: 12px!important;
    font-weight: bold!important;
    height: 40px!important;
    color: #fff!important;
    background: #1e71c1!important;
    border: 1px solid #0d447b!important;
    border-bottom-color: #0a3b6c!important;
    padding: 0 10px!important;
    margin: 0!important;
    float: right!important;
    display: inline-block;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2)!important;
    border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset!important;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset!important;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset!important;
}

#section-kmt .cancelButton.kmt-btn-cancel{
    display:none;
}
#section-kmt .kmt-form-submit > span {
    margin: 0 8px 0 0;
    font-size: 11px;
    line-height: 15px;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#section-kmt #kmt-fame {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 30px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#section-kmt #kmt-fame .kmt-fame-tabs {
    text-align: center;
    font-size: 0;
    position: relative;
    margin: -10px -10px 0;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#section-kmt #kmt-fame .kmt-fame-tabs.col3 li {
    width: 33.33%;
}
#section-kmt #kmt-fame .kmt-fame-tabs li {
    display: inline-block;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.active {
    border: 0;
    background-color: transparent!important;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a {
    background-color: #f5f5f5!important;
    border-bottom: 1px solid #ddd;
    color: inherit;
    display: block;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    padding: 17px 0;
    text-decoration: none!important;
}

#section-kmt #kmt-fame .kmt-fame-tabs li a.navMain i {
    background: url(../images/stream.reply.png) center 0 no-repeat;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    vertical-align: top;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a b {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    vertical-align: top;
}
#section-kmt #kmt-fame .kmt-fame-tabs li + li {
    border-left: 1px solid #ccc;
    margin: 0 0 0 -1px;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.navStickies i {
    background: url(../images/stream.pin.png) center 0 no-repeat;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.navLovies i {
    background: url(../images/stream.popular.png) center 0 no-repeat;
}
#section-kmt #kmt-fame h3.kmt-title {
    margin: 10px 0;
}

#section-kmt .kmt-people-list {
    margin: 0 0 30px;
}
#section-kmt .kmt-toolbar {
    margin: -15px 0 0;
    padding: 10px 0 15px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#section-kmt .kmt-toolbar li.kmt-sorting a.selected {
    background: #ddd;
    box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
}
#section-kmt .kmt-toolbar li.kmt-sort-oldest a {
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -webkit0-border-radius: 2px 0 0 2px;
}
#section-kmt .kmt-toolbar li.kmt-sorting a {
    border: 1px solid #aaa;
}
#section-kmt .kmt-toolbar li a {
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    color: #555;
    display: inline-block;
    font: bold 12px/25px Arial,sans-serif;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#section-kmt .kmt-toolbar li.kmt-subs-email {
    float: right;
}
#section-kmt .float-li > li, #section-kmt .float-wrapper > span {
    float: left;
    display: inline-block;
    position: relative;
}
#section-kmt .kmt-toolbar li.kmt-subs-email a {
    background: #F47827!important;
    border: 1px solid #c9570d;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F47827', endColorstr='#F47827',GradientType=0 );
}
#section-kmt #kmt-fame .kmt-list {
    margin: 0 0 10px;
}
#section-kmt .kmt-list {
    margin: 0 0 30px;
}
#section-kmt .kmt-list > li {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
}
#section-kmt .kmt-list > li > div {
    padding: 20px 0;
}
#section-kmt .kmt-avatar, #section-kmt .kmt-avatar * {
    float: left;
    display: inline-block;
}
#section-kmt .avatar {
    width: 48px;
    height: auto;
}
#section-kmt .kmt-avatar + .kmt-content {
    margin-left: 60px;
}
#section-kmt .kmt-head {
    height: 20px;
    line-height: 20px;
    position: relative;
}
#section-kmt .kmt-author, #section-kmt .kmt-author a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-decoration: none!important;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
#section-kmt .kmt-author, #section-kmt .kmt-author a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-decoration: none!important;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
#section-kmt .kmt-body {
    margin: 10px 0;
    position: relative;
}
#section-kmt .kmt-text p {
    line-height: 1.5;
    margin: 0;
}
#section-kmt div.kmt-content div.kmt-head span.kmt-permalink-wrap {
    display:none;
}
#section-kmt div.kmt-content span.commentInfo.kmt-info{
    display:none;
}
#section-kmt div.kmt-content div.kmt-control {
    display:none;
}