/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/layout.css);


/* Spacing
----------------------------------------------------------------------------------------------------*/

.module,
#header,
#breadcrumbs,
#content,
#footer { margin: 10px; }

#header { margin-top: 30px; }

#toolbar { 
	overflow: hidden;
	height: 25px;
	background-color: #68615D;
	margin: -30px -12px 0;
}

#toolbar .icon {
	float: left;
	height: 8px;
	margin-top: 7px;
	width: 19px;
	background-repeat: no-repeat;
} 


#toolbar .menu-line li a{color: #FFFFFF !important;}
#toolbar .menu-line li a:hover{color: #DB993F !important;}
#toolbar .menu-line {margin-right: 10px;}

#footer .module { margin: 0; }


/* Layout
----------------------------------------------------------------------------------------------------*/

#logo {
	display: inline-block;
	margin-right: 30px;
	float: none;
}

#menubar {
	width: 100%;
    height: 42px;
    overflow: hidden;
/* 	position: relative;
	bottom: -5px;  */
}

#search { 
position: relative;
/*left: 100px;	*/
}

#colorbox div.foxcontainer{
     padding: 0px !important;
}

#colorbox div.foxcontainer .fox_form.foxform-stacked {
    margin-bottom: 64px;
}
#colorbox div.foxcontainer .fox_form.foxform-stacked div.control-group{
    padding: 2px 0;
    margin: 0 0 10px 0;
}

#colorbox div.foxcontainer .fox_form.foxform-stacked div.control-group .control-label{
    float: left;
    width: 230px !important;
    margin: 0 3px;
}

.fox_form input, .fox_form textarea {
    color: #505050;
    background-color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
    -moz-box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
    border: 1px solid #c0c0c0;
    margin: 0 3px !important;
    padding: 5px !important;
    width: 85% !important;
}

#bottom-a:before,
#bottom-b:before {
	content: "";
	display: block;
	margin: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EBEBEB;	
}

#footer { font-size: 13px; }

#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-image: url(../images/totop_scroller.png);
	background-position: 0 0; 
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	text-decoration: none;
	border-radius: 4px;
}

#totop-scroller:hover { background-position: 0 -50px; }

#header-contact-block{
	height: 120px;
	width: 180px;
	float: left;
	padding: 15px;
}
.logo-top{
	width: 360px;
	height: 140px;
	float: left;
}
#header-contact-block span {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.3;
}

#header-contact-block-right{
	height: 120px;
	width: 195px;
	float: left;
	padding: 15px 10px;
}

#header-contact-block-right a {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

#header-contact-block p, #header-contact-block-right p{
	padding: 0;
	margin: 0;
}
.wk-slideshow-default {
	margin: -16px !important;
}
#top-a .mod-box-default {
	overflow: hidden;
	margin-top: 0;
}
.wk-cont p {
	margin: 0;
	padding: 0;
}
.wk-cont {
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	padding: 5px 10px;
}

.enci .item-list h3 {
	display: none;
}

/*admin*/

p.seealso {
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
}

span.description {
	font-weight: bold;
	font-size: 105%;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

/*footer lists*/

#footer {
	background-color: #68615D;
	color: #ddd;
	margin: 0 !important;
}

#footer-full {
	margin: 15px 0 15px 15px;
	min-height: 300px;
}

#footer-full a:hover{text-decoration: underline;}

#footer-full h3 {margin: 10px 0;}

.footer-column {
	min-height: 250px;
	text-align: left;
	width: 25%;
	float: left;
}

.footer-column:last-child {border-right: 0;}

.footer-column .column-inner {
	padding: 15px;
	border-right: 1px solid #5E5652;
	box-shadow: 3px 0px #665C5C;
	min-height: 250px;
}

.column-inner-last {
	border: 0;
	padding: 15px;
}

.footer-column div p span{
	font-family: Georgia, "Times New Roman", Times, sant-serif;
	font-style: italic;
}

.footer-column ul {
	list-style-type: none;
	padding: 0;
}

.footer-column li {
	padding-left: 20px;
	padding-top: 2px;
	background: url(../../../images/img/nut_list.png) no-repeat 0 5px;
}

.footer-column li:hover {background: url(../../../images/img/nut_list-h.png) no-repeat 0 5px;}

#column-ul-last {margin-right: 0;}

#column-social {	}

#column-social p {margin: 5px 0;}

.social-ico-tw, .social-ico-vk, .social-ico-fb, .social-ico-instagram, .social-ico-google, .social-ico-youtube {
	text-indent: -50000px;
	margin-right: 0px;
	float: left;
}

.social-ico-tw a, .social-ico-vk a, .social-ico-fb a, .social-ico-instagram a, .social-ico-google a, .social-ico-youtube a {
	display: block;
	width: 40px;
	height: 40px;
}

.social-ico-tw {
	background: url(../../../images/img/social-ico/twitter.png) no-repeat 0 0;
}

.social-ico-vk {
	background: url(../../../images/img/social-ico/vk.png) no-repeat 0 0;
}

.social-ico-fb {
	background: url(../../../images/img/social-ico/facebook.png) no-repeat 0 0;
}

.social-ico-instagram {
	background: url(../../../images/img/social-ico/instagram.png) no-repeat 0 0;
}

.social-ico-google {
	background: url(../../../images/img/social-ico/google.png) no-repeat 0 0;
}

.social-ico-youtube {
	background: url(../../../images/img/social-ico/youtube.png) no-repeat 0 0;
}

.social-ico-tw:hover{
	background: url(../../../images/img/social-ico/twitter-h.png) no-repeat 0 0;
}

.social-ico-vk:hover {
	background: url(../../../images/img/social-ico/vk-h.png) no-repeat 0 0;
}

.social-ico-fb:hover {
	background: url(../../../images/img/social-ico/facebook-h.png) no-repeat 0 0;
}

.social-ico-instagram:hover {
	background: url(../../../images/img/social-ico/instagram-h.png) no-repeat 0 0;
}

.social-ico-google:hover {
	background: url(../../../images/img/social-ico/google-h.png) no-repeat 0 0;
}

.social-ico-youtube:hover{
	background: url(../../../images/img/social-ico/youtube-h.png) no-repeat 0 0;
}

a.mail-link {
	padding-right: 15px;
	background: url(../../../images/img/link.png) no-repeat 100% 5px;
	text-decoration: none;
	border-bottom: 1px dashed #DB993F;
	cursor: pointer
}
a.mail-link:hover {
	text-decoration: none !important;
	color: #D8AA6C;
}

form.submission {
	display: block !important;
}
.prev, .next {display: none;}
.menu-sidebar a.level1.parent{
	background-color: #E6E5E0;
}
.easy_frame{
	padding: 5px;
	position: relative;
	background-color: #E6E5E0;
	border: 3px solid #f6ac49;
	border-radius: 10px;
	margin-right: 10px;
}
.easy_admincomment {
	margin-left: 70px;
}
.notice{
	padding: 5px;
	position: relative;
	background-color: #E6E5E0;
	border: 3px solid #f6ac49;
	border-radius: 10px;
	text-align: center;
}
.notice h4{
	color: #950000;
	font-size: 18px;
	margin-top: 15px;
}
#menu-mobil{
	display: none;
}
#page-bg>div{
	min-height: 100px !important;
}
/*--------responsive
-------------------*/
@media screen and (max-width: 1400px){
		#sidebar-a.grid-box{
			min-height: 535px !important;
		}
		body{
			overflow-x: hidden;
		}
}
@media screen and (max-width: 1039px){
	#jshop_module_cart{
		margin-top: 15px;
	}
	#jshop_search{
		width: 155px;
	}
}
@media screen and (max-width: 938px){
	#menubar{
		margin: 20px 0;
	}
	#header-contact-block-right, #header-contact-block {
		float: right;
	}
	#jshop_module_cart {
		position: absolute;
		top: 98px;
		right: 0px;
		background-size: cover;
		width: 110px;
		height: 114px;
	}
	#jshop_module_cart:hover{
		background-size: cover;
	}
	#header-contact-block{
		padding: 10px;
	}
	#header-contact-block-right:after, #header-contact-block:after, #jshop_module_cart:before, .logo-top:after{
		display: table;
		line-height: 0;
		content: "";
	}
}
@media screen and (max-width: 837px){
	#header-contact-block-right{
		padding: 10px 0;
		margin-top: -20px;
	}
	.intro-text, .garantiya{
		display: none;
	}
	#sidebar-b, #sidebar-a{
		width: 36% !important;
	}
	#maininner{
		width: 64% !important;
		float: right !important;
	}
	.bestseller_products .block_item {
		width: 459px;
	}
	.jshop_list_product .product, .jshop_list_product .product .name{
		width: 97%;
	}
	.jshop-product {
		float: none; 
		width: 100%;
	}
	.jshop_img_description #list_product_image_thumb {
		width: auto;
	}
	div.jshop_prod_description{
		margin-left: 0;
	}
	#list_product_image_middle a img{
		width: 150px;
	}
	.more-info{
		width: auto;
	}
	#comments-form textarea {
		width: 340px;
	}	
@media screen and (max-width: 788px){
	#header-contact-block-right{
		float: left;
		width: 200px;
		margin: 0px 0 0 5%;
	}
	#header-contact-block {
		padding: 10px;
		position: relative;
		top: 140px;
		margin-right: 5%;
		width: 185px;
	}
	#jshop_module_cart {
		position: absolute;
		top: -5px;
		right: 15px;
	}
	#menubar {
		margin: 0 auto;
		width: 670px;
		float: none;
		display: block;
		bottom: 0;
	}
	.buttons {
		right: 65px;
	}
	element.style {
}
.bestseller_products .block_item {
	width: 439px;
}
}
@media screen and (max-width: 625px){
	#menu-mobil{
		display: block;
	}
	.logo-top img{
		margin-top: -15px !important;
	}
	#header-contact-block{
		top: 0;
	}
	#header-responsive {
		position: absolute;
		width: 100%;
		top: 225px;
	}
	.bestseller_products .block_item {
		width: 331px;
	}
	div.item_image {
		height: 100px;
		width: 100px;
	}
	.description {
		margin-left: 100px;
	}
	.item_name {
		margin-left: 99px;
	}
	.bestseller_products .block_item {
		height: 265px;
	}
	.jshop_price {
		right: -10px;
		bottom: 74px;
	}
}
@media screen and (max-width: 505px){
	#sidebar-a.grid-box, #sidebar-b.grid-box, #maininner.grid-box{
		width: 100% !important;
	}
	.module, #header, #breadcrumbs, #content, #footer {
		margin: 0;
	}
	#header{
		margin-bottom: 10px;
	}
	.bestseller_products .block_item {
		width: 100%;
	}
	.buttons {
		right: 10px;
	}
	#footer-full {
		display: none;
	}
	#sidebar-a.grid-box{
		display: none;
	}
}
@media screen and (max-width: 345px){
	.logo-top {
		width: 135px;
		height: 140px;
		float: left;
		overflow: hidden;
	}
	.logo-top img{float: left;
		width: 278px;
		height: 108px;
		margin-top: 10px !important;
	}
	#header-contact-block {
		margin-right: 15%;
	}
	#header-contact-block-right{
		display: none;
	}
	#top-a{
		display: none;
	}
	.mod-box {
	padding: 14px 0 !important;
	}
	.jshop_list_product .product .image .image_block {
		width: 100px;
		height: 100px;
	}
	.jshop_list_product .product .name {
		margin-left: 105px;
	}
	.jshop_list_product .product .name {
		width: auto;
	}
	.jshop_list_product .product .description {
		margin-left: 110px;
	}
	.jshop_price {
		right: -15px;
		bottom: 62px;
	}
	.jshop_list_product .product .buttons {
		right: 15px;
	}
	#list_product_image_middle a img {
		width: 135px;
	}
}

/*===================
LikePro
===================*/

.like-pro-wrapper {
	margin-bottom: 25px;
}
