/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/layout.css);


/* Spacing
----------------------------------------------------------------------------------------------------*/

.module,
#header,
#breadcrumbs,
#content,
#footer { margin: 10px; }

#header { margin-top: 30px; }

#toolbar { 
	overflow: hidden;
	height: 25px;
	background-color: #68615D;
	margin: -30px -12px 0;
}

#toolbar .icon {
	float: left;
	height: 8px;
	margin-top: 7px;
	width: 19px;
	background-repeat: no-repeat;
} 


#toolbar .menu-line li a{color: #FFFFFF !important;}
#toolbar .menu-line li a:hover{color: #DB993F !important;}
#toolbar .menu-line {margin-right: 10px;}

#footer .module { margin: 0; }


/* Layout
----------------------------------------------------------------------------------------------------*/

#logo {
	display: inline-block;
	margin-right: 30px;
	float: none;
}

#menubar {
	display: inline-block;
	position: relative;
	bottom: -5px; 
}

#search { 
position: relative;
left: 100px;	
}

#bottom-a:before,
#bottom-b:before {
	content: "";
	display: block;
	margin: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EBEBEB;	
}

#footer { font-size: 13px; }

#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-image: url(../images/totop_scroller.png);
	background-position: 0 0; 
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	text-decoration: none;
	border-radius: 4px;
}

#totop-scroller:hover { background-position: 0 -50px; }

#header-contact-block {
	height: 120px;
    margin-right: -105px;
    position: absolute;
    right: 50%;
    top: 65px;
    width: 200px;
}

#header-contact-block span {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

#header-contact-block-right {
	height: 120px;
    margin-right: -321px;
    position: absolute;
    right: 50%;
    top: 46px;
    width: 200px;
}

#header-contact-block-right a {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

#header-contact-block p, #header-contact-block-right p{
	padding: 0;
	margin: 0;
}
.wk-slideshow-default {
	margin: -20px !important;
}
#top-a .mod-box-default {
	overflow: hidden;
	margin-top: 0;
}
.wk-cont p {
	margin: 0;
	padding: 0;
}
.wk-cont {
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	padding: 5px 10px;
}

.enci .item-list h3 {
	display: none;
}