/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/layout.css);


/* Spacing
----------------------------------------------------------------------------------------------------*/

.module,
#header,
#breadcrumbs,
#content,
#footer { margin: 10px; }

#header { margin-top: 30px; }

#toolbar { 
	overflow: hidden;
	height: 25px;
	background-color: #68615D;
	margin: -30px -12px 0;
}

#toolbar .icon {
	float: left;
	height: 8px;
	margin-top: 7px;
	width: 19px;
	background-repeat: no-repeat;
} 


#toolbar .menu-line li a{color: #FFFFFF !important;}
#toolbar .menu-line li a:hover{color: #DB993F !important;}
#toolbar .menu-line {margin-right: 10px;}

#footer .module { margin: 0; }


/* Layout
----------------------------------------------------------------------------------------------------*/

#logo {
	display: inline-block;
	margin-right: 30px;
	float: none;
}

#menubar {
	display: inline-block;
	position: relative;
	bottom: -5px; 
}

#search { 
position: relative;
left: 100px;	
}

#bottom-a:before,
#bottom-b:before {
	content: "";
	display: block;
	margin: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EBEBEB;	
}

#footer { font-size: 13px; }

#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-image: url(../images/totop_scroller.png);
	background-position: 0 0; 
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	text-decoration: none;
	border-radius: 4px;
}

#totop-scroller:hover { background-position: 0 -50px; }

#header-contact-block {
	height: 120px;
    margin-right: -105px;
    position: absolute;
    right: 50%;
    top: 45px;
    width: 200px;
}

#header-contact-block span {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

#header-contact-block-right {
	height: 120px;
    margin-right: -321px;
    position: absolute;
    right: 50%;
    top: 46px;
    width: 200px;
}

#header-contact-block-right a {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

#header-contact-block p, #header-contact-block-right p{
	padding: 0;
	margin: 0;
}
.wk-slideshow-default {
	margin: -16px !important;
}
#top-a .mod-box-default {
	overflow: hidden;
	margin-top: 0;
}
.wk-cont p {
	margin: 0;
	padding: 0;
}
.wk-cont {
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	padding: 5px 10px;
}

.enci .item-list h3 {
	display: none;
}

/*admin*/

p.seealso {
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
}

span.description {
	font-weight: bold;
	font-size: 105%;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

/*footer lists*/

#footer {
	background-color: #68615D;
	color: #ddd;
	margin: 0 !important;
}

#footer-full {
	margin: 15px 0 15px 15px;
	min-height: 300px;
}

#footer-full a:hover{text-decoration: underline;}

#footer-full h3 {margin: 10px 0;}

.footer-column {
	min-height: 250px;
	text-align: left;
	width: 25%;
	float: left;
}

.footer-column:last-child {border-right: 0;}

.footer-column .column-inner {
	padding: 15px;
	border-right: 1px solid #5E5652;
	box-shadow: 3px 0px #665C5C;
	min-height: 250px;
}

.column-inner-last {
	border: 0;
	padding: 15px;
}

.footer-column div p span{
	font-family: Georgia, "Times New Roman", Times, sant-serif;
	font-style: italic;
}

.footer-column ul {
	list-style-type: none;
	padding: 0;
}

.footer-column li {
	padding-left: 20px;
	padding-top: 2px;
	background: url(../../../images/img/nut_list.png) no-repeat 0 5px;
}

.footer-column li:hover {background: url(../../../images/img/nut_list-h.png) no-repeat 0 5px;}

#column-ul-last {margin-right: 0;}

#column-social {	}

#column-social p {margin: 5px 0;}

.social-ico-tw, .social-ico-vk, .social-ico-fb {
	text-indent: -50000px;
	margin-right: 5px;
	float: left;
}

.social-ico-tw a, .social-ico-vk a, .social-ico-fb a{
	display: block;
	width: 40px;
	height: 40px;
}

.social-ico-tw {
	background: url(../../../images/img/social-ico/twitter.png) no-repeat 0 0;
}

.social-ico-vk {
	background: url(../../../images/img/social-ico/vk.png) no-repeat 0 0;
}

.social-ico-fb {
	background: url(../../../images/img/social-ico/facebook.png) no-repeat 0 0;
}

.social-ico-tw:hover{
	background: url(../../../images/img/social-ico/twitter-h.png) no-repeat 0 0;
}

.social-ico-vk:hover {
	background: url(../../../images/img/social-ico/vk-h.png) no-repeat 0 0;
}

.social-ico-fb:hover {
	background: url(../../../images/img/social-ico/facebook-h.png) no-repeat 0 0;
}

a.mail-link {
	padding-right: 15px;
	background: url(../../../images/img/link.png) no-repeat 100% 5px;
	text-decoration: none;
	border-bottom: 1px dashed #DB993F;
	cursor: pointer
}
a.mail-link:hover {
	text-decoration: none !important;
	color: #D8AA6C;
}

form.submission {
	display: block !important;
}
.prev, .next {display: none;}
.menu-sidebar a.level1.parent{
	background-color: #E6E5E0;
}
.easy_frame{
	padding: 5px;
	position: relative;
	background-color: #E6E5E0;
	border: 3px solid #f6ac49;
	border-radius: 10px;
	margin-right: 10px;
}
.easy_admincomment {
	margin-left: 70px;
}
.notice{
	padding: 5px;
	position: relative;
	background-color: #E6E5E0;
	border: 3px solid #f6ac49;
	border-radius: 10px;
	text-align: center;
}
.notice h4{
	color: #950000;
	font-size: 18px;
	margin-top: 15px;
}