/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/layout.css);


/* Spacing
----------------------------------------------------------------------------------------------------*/

.module,
#header,
#breadcrumbs,
#content,
#footer { margin: 15px; }

#header { margin-top: 30px; }

#toolbar { margin-bottom: 15px; }

#footer .module { margin: 0; }


/* Layout
----------------------------------------------------------------------------------------------------*/

#logo {
	display: inline-block;
	margin-right: 30px;
	float: none;
}

#menubar {
	display: inline-block;
	position: relative;
	bottom: -5px; 
}

#search { 
	float: left; 
	left: 250px;
    position: relative; 
}

#bottom-a:before,
#bottom-b:before {
	content: "";
	display: block;
	margin: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EBEBEB;	
}

#footer { font-size: 13px; }

#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-image: url(../images/totop_scroller.png);
	background-position: 0 0; 
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	text-decoration: none;
	border-radius: 4px;
}

#totop-scroller:hover { background-position: 0 -50px; }

#header-contact-block {
	height: 120px;
    margin-right: -125px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 200px;
}

#header-contact-block-right {
	height: 120px;
    margin-right: -345px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 200px;
}

