div.intro-text {
	margin-top: -20px !important;
	padding: 0 !important;
	background-color: #ffe9c4;
}

div.intro-text #intro-text-inner {
	padding: 10px !important; 
	margin-top: -10px;
}

.jn-right {position: relative;}

.mod-box .button-default {margin-top: 20px;}

.jn-right a, .mod-box .button-default a {
	color: #68615D !important;
	display: block;
}
.jn-right a {
	background: url(/templates/yoo_micasa/images/color/brown/menu_sidebar_level2.png) -14px -1px  no-repeat !important;
	padding-left: 17px;
}

.jn-right a:hover{
	color: #63a5d5 !important;
	background: url(/templates/yoo_micasa/images/color/brown/menu_sidebar_level2.png) -14px -51px  no-repeat !important;
}

.mod-box .button-default:hover, .mod-box .button-default a:hover {
	color: #F5F5F5!important;
}

.jn-right span.jn-small {
	position: absolute;
	right: 0;
	bottom: -25px;
}
