#s5box_one {padding:10px; background:#fff;}
#s5box_two {padding:10px; background:#fff;}
#s5box_three {padding:10px; background:#fff;}
#s5box_four{padding:10px; background:#fff;}
#s5box_five{padding:10px; background:#fff;}
#s5box_six{padding:10px; background:#fff;}
#s5box_seven {padding:10px; background:#fff;}
#s5box_eight {padding:10px; background:#fff;}
#s5box_nine {padding:10px; background:#fff;}
#s5box_ten {padding:10px; background:#fff;}

#s5box_login {padding:10px; background:#fff;}
#s5box_register {padding:10px; background:#fff;}


/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
	ColorBox example user style
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background:#000000;display:none;}

#colorBox{}
	#cboxTopLeft{width:25px; height:25px; background:url(../images/border1.png) 0 0 no-repeat;}
	#cboxTopCenter{height:25px; background:url(../images/border1.png) 0 -50px repeat-x;}
	#cboxTopRight{width:25px; height:25px; background:url(../images/border1.png) -25px 0 no-repeat;}
	#cboxBottomLeft{width:25px; height:25px; background:url(../images/border1.png) 0 -25px no-repeat;}
	#cboxBottomCenter{height:25px; background:url(../images/border1.png) 0 -75px repeat-x;}
	#cboxBottomRight{width:25px; height:25px; background:url(../images/border1.png) -25px -25px no-repeat;}
	#cboxMiddleLeft{width:25px; background:url(../images/border2.png) 0 0 repeat-y;}
	#cboxMiddleRight{width:25px; background:url(../images/border2.png) -25px 0 repeat-y;}
	#cboxContent{background:#fff;}
            #cboxLoadedContent{margin-bottom:20px;}
            #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
            #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
            #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
            #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
            #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
            #cboxLoadingOverlay{background:url(../images/loading.gif) center center no-repeat #fff;}
            #cboxClose{
				position:absolute; 
				top:0; 
				right:0; 
				display:block; 
				color:#444;
				display: block;
				width: 30px;
				height: 30px;
				text-indent: -50000px;
				background: url(/images/img/close.png) no-repeat 0% 0% rgba(0, 0, 0, 0) !important;
			}
			
			#cboxClose:hover {
				padding: 2px 0 0 1px;
			}