  #window_edit_label{
      height:auto;width:400px;position:fixed;top:100px;
      background:#00cccc;
  }
  #close_window_edit{
      float:right;margin:3px 7px;cursor:pointer;font-weight:bold;color:#444;
  }
  #close_window_edit:hover {
      color:red;
  }
  #window_edit_label .success_message{
      width:150px;
      margin:30px auto;
      text-align:center;
      color:#AAFFFF;
  }
  #product_label_form ul {
      margin:30px auto;width:350px;
  }
  #product_label_form ul li{
      list-style:none;
  }
  #product_label_form ul li div {
      float:left;width:110px;
  }
