/**
 * JUNewsUltra Pro
 *
 * @package          Joomla.Site
 * @subpackage       mod_junewsultra
 *
 * @author           Denys Nosov, denys@joomla-ua.org
 * @copyright        2007-2018 (C) Joomla! Ukraine, http://joomla-ua.org. All rights reserved.
 * @license          GNU General Public License version 2 or later; see LICENSE.txt
 */

.nntoggler {
    border: 1px solid #ccc;
    padding: 12px;
    margin-left: 4%;
    margin-top: 3px;
}

.nntoggler .nntoggler {
    border: 0 none;
    border-top: 1px dotted #ccc;
    padding: 12px 0 0 4%;
    margin-left: 0;
}

/* fields */
.spacer hr {
    border: 1px dotted #ccc;
}

.tab-pane .span9,
.tab-pane {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 15px 0 15px 10px;
}

.nntoggler {
    background: #fff;
    width: 92%;
}

.control-group .control-label {
    min-width: 15% !important;
    max-width: 28% !important;
    width: 28% !important;
    padding: 0 5px 0 0 !important;
}

.control-group .spacer {
    white-space: nowrap;
}

.control-group .spacer .text label {
    font-weight: bold !important;
    font-size: 16px;
    line-height: normal !important;
}

.nntoggler .control-group .spacer .text label {
    font-size: 14px;
}

.control-group .spacer .text label span {
    font-weight: normal;
    font-size: 12px !important;
}

.control-group hr {
    width: 100% !important;
    display: block;
    margin: 0 !important;
}

.control-group .controls .radio label {
    float: left;
    margin: 3px 40px 0 5px;
}

.control-group .controls .btn-group label {
    float: none;
    margin: 0 -1px 0 0;
}

.nntoggler {
    margin: -10px 0 18px 18px;
}

.controls #jform_params_components {
    float: left;
    width: auto;
    margin: -65px 0 0 45px;
}

#jform_params_components-lbl {
    display: none;
}

.controls #jform_params_utmtags {
    width: 80%;
}

#myTabContent {
    float: left;
    width: 60%;
    clear: none;
}

#general .span9 {
    width: 68%;
}

#permissions-sliders {
    width: 95%;
}

#description {
    overflow: hidden;
}