@charset "utf-8";
.technology {cursor:hand; cursor:pointer; font:bold 14px Verdana; margin:10px 0;}
.technology div {padding: 2px 10px 2px 24px;}
.openlanguage div {display: block; background: transparent url(../down.gif) no-repeat left center;}
.closedlanguage div {display: block; background: transparent url(../up.gif) no-repeat left center;}