.likes-block {
    line-height:24px;
    height:24px;
    text-align:left;
	padding:15px 0 5px;
 
}
.likes-block_left {
    line-height:24px;
    height:24px;
    text-align:left;
	padding:5px 0 5px;
	text-align:left;

}
.likes-block_right {
    line-height:24px;
    height:24px;
    text-align:right;
	padding:15px 0 5px;
	text-align:right;

}

.event-container {
    padding-left: 12px;
    padding-right: 12px;
}
 
.like {
    display:inline-block;
    height:24px;
    line-height:24px;
    position:relative;
    font:normal 10px tahoma;
    color:#fff;
    min-width:29px;
    vertical-align:top;
    text-align:center;
    padding:0;
}
 
.likes-block .like:first-child {
    margin-left:10px;
}
 
.like .l-ico {
    width:24px;
    height:24px;
    position:absolute;
    top:0;
    left:-12px;
    background-image:url("./images/likes-ico.png");
    background-repeat:no-repeat;
}
 
.l-fb .l-ico {
    background-position:0 0;
}
 
.l-vk .l-ico {
    background-position:-29px 0;
}
 
.l-tw .l-ico {
    background-position:-58px 0;
}
 
.l-ok .l-ico {
    background-position:-87px 0;
}
 
.l-gp .l-ico {
    background-position:-116px 0;
}

.l-ml .l-ico {
    background-position:-145px 0;
}

.l-ya .l-ico {
    background-position:-174px 0;
}

.l-ln .l-ico {
    background-position:-203px 0;
}

.l-pinteres .l-ico {
    background-position:-290px 0;
} 
 
 
.l-fb:hover .l-ico {
    background-position:0 -48px;
}
 
.l-vk:hover .l-ico {
    background-position:-29px -48px;
}
 
.l-tw:hover .l-ico {
    background-position:-58px -48px;
}
 
.l-ok:hover .l-ico {
    background-position:-87px -48px;
}
 
.l-gp:hover .l-ico {
    background-position:-116px -48px;
}

.l-ml:hover .l-ico {
    background-position:-145px -48px;
}

.l-ya:hover .l-ico {
    background-position:-174px -48px;
}

.l-ln:hover .l-ico {
    background-position:-203px -48px;
}

.l-pinteres:hover .l-ico {
    background-position:-290px -48px;
}
 
.like .l-count {
    vertical-align:middle;
    line-height:24px;
    cursor: default;
}
 
.like.like-not-empty {
    background: url("./images/likes-bg.png") no-repeat 100% 0;
    margin-right:14px;
    padding:0 0 0 9px;
}
 
a.like {
    text-decoration: none;
    cursor: pointer;
}

div.disable_more_likes{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1000000000;
}

.jllikeproSharesContayner .button_text{
    font-weight: bold;
}

@media screen and (max-width:480px) {/*для смартфонов*/
    .jllikeproSharesContayner a.like{
        margin-right: 20px;
		margin-bottom: 15px;
	
    }
    .jllikeproSharesContayner i.l-ico{

    }
    .likes-block_left, .likes-block_right {
        line-height:inherit;
        height:auto;
    }
	
	
}
@media screen and (min-width:481px) and (max-width:800px) {/*для планшетов*/
    .jllikeproSharesContayner a.like{
        margin-right: 20px;
		margin-bottom: 15px;
	
    }
    .jllikeproSharesContayner i.l-ico{

    }
    .likes-block_left, .likes-block_right {
        line-height:inherit;
        height:auto;
    }
}
@media screen and (min-width:801px) {/*для компов*/
    .jllikeproSharesContayner a.like{
      
    }
}

.share-button-tw{
background-color:#00C4FF;
padding: 4px;
}

#share-button-tw {
color: white;
text-decoration: none;
}